* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #222222;
  letter-spacing: 0.12em;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
	font-weight: 500;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
	object-fit: cover;
}

.pc {
  display: block;
}

.sp {
  display: none;
}
@media (max-width: 1300px) {
	.container {
		padding-right: 3%;
		padding-left: 3%;
	}
}
@media (max-width: 768px) {
	.container {
		padding-right: 24px;
		padding-left: 24px;
	}
}

@media (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
  main {
    max-width: 100%;
    overflow: hidden;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}

/* スクロールアニメーション */
.fade-load {
	opacity: 0;
	transition: 1s;
	transform: translateY(30px);
}
.fade-load.done {
	opacity: 1;
	transform: none;
}
.scroll-up {
	opacity: 0;
	transition: 1s;
	transform: translateY(30px);
}
.scroll-up.done {
	opacity: 1;
	transform: none;
}
/* 社員インタビュー */

.interview__top__wrap {
  position: relative;
  padding-right: 40px;
}
.slider__container {
  max-width: none;
}
.slider__container.container {
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 768px) {
  .interview__top__wrap {
    padding: 0;
    padding-top: 150px;
  }
	.container.interview__img {
		padding-right: 0;
		padding-left: 0;
	}
  .slider__container {
    padding-right: 0;
  }
}

.interview__top__wrap .interview__top__img {
  max-width: 719px;
  width: 60%;
  margin-right: 20px;
  margin-left: auto;
}

@media (max-width: 768px) {
  .interview__top__wrap .interview__top__img {
    max-width: 100%;
		width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.interview__top__wrap .interview__top__text {
  position: absolute;
  left: calc(100vw / 1440 * 80);
  top: 50%;
  transform: translateY(-50%);
	margin-top: 30px;
}

@media (max-width: 768px) {
  .interview__top__wrap .interview__top__text {
    left: 24px;
    transform: none;
    bottom: 52px;
  }
}

.interview__top__wrap .interview__top__text h1{
  font-size: clamp(16px, calc(2.4vw + 1px),3.6rem);
  line-height: 2;
  margin-bottom: 5%;
  letter-spacing: 0.24em;
	font-family: "YuMincho +36p Kana", YuMincho,'Yu Mincho',serif;
}

.interview__name-en {
  font-family: 'Montserrat',sans-serif;
  letter-spacing: 0.3em;
  margin-bottom: 40px;
	font-size: clamp(1.2rem, calc(1.2vw + 1px), 1.6rem);
}

.interview__name-en .interview__position-en {
  font-weight: 200;
}

.interview__name {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
}
.interview__nameDept {
  display: flex;
}

@media (max-width: 768px) {
  .interview__name {
    display: block;
    font-size: clamp(1.6rem, calc(3vw +1px), 2rem);
  }
  .interview__name-en {
    margin-bottom: 0;
    font-size: clamp(1rem, calc(2vw +1px), 1.4rem);
  }
  .interview__name-en .interview__position-en {
    font-weight: 500;
  }
  .interview__nameDept {
    flex-direction: column-reverse;
  }
}

.interview__position {
  font-size: 1.2rem;
  background-color: #222222;
  color: #fff;
  padding: 8px 12px;
  border-radius: 80px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .46);
  display: inline-block;
  margin-left: 32.5px;
  line-height: 1;
}

@media (max-width: 768px) {
  .interview__position {
    margin-bottom: 40px;
    margin-left: 0;
    font-size: clamp(1rem, calc(2vw +1px), 1.4rem);
  }
}

.interview__slider__wrap {
  margin-left: max(calc(50vw - 600px), 40px);
  background-color: #222222;
	box-shadow: -14px -10px 32px rgba(0, 0, 0, .26);
  color: #fff;
  border-radius: 12px 0 0 12px;
  padding: 123px 0 123px 64px;
  transform: translateY(-50px);
  margin-bottom: 37.5px;
}

.interview__slider {
	overflow-x: scroll;
	padding-bottom: 80px;
	white-space: nowrap;
	position: relative;
}
.interview__slider__item {
	display: inline-block;
	margin: 5px;
	width: 400px;
	vertical-align: top;
	margin-right: 50px;
}
.interview__slider__item .interview__slider__title {
	text-align: left;
  margin-bottom: 35px;
  font-weight: bold;
	font-size: 18px;
	position: relative;
	padding-bottom: 17px;
}
.interview__slider__title::before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: block;
	position: absolute;
	background: #fff;
	bottom: -5px;
}
.interview__slider__title::after {
	content: "";
	width: 461px;
	height: 1px;
	position: absolute;
	background: #fff;
	bottom: 0;
	left: 0;
}
.interview__slider__text {
	white-space: normal;
	line-height: 2.28;
	letter-spacing: .08em;
	font-size: 14px;
}
.interview__slider__scroll {
	position: absolute;
	bottom: 13px;
  font-family: 'Montserrat',sans-serif;
	font-size: 14px;
	letter-spacing: 0.2em;
}

.interview__slider::-webkit-scrollbar {
	width: 6px;
}
.interview__slider::-webkit-scrollbar:horizontal {
	height: 4px;
}
.interview__slider::-webkit-scrollbar-track {
	background-color: #3B3B3B;
	border-left: solid 1px #3B3B3B;
}
.interview__slider::-webkit-scrollbar-thumb {
	background-color: #fff;
}
.interview__slider::-webkit-scrollbar-thumb:horizontal {
	background-color: #fff;
}

@media (max-width: 768px) {
  .interview__slider__wrap {
    transform: none;
    padding: 54px 40px;
    max-width: 100%;
    margin-left: 23px;
    margin-bottom: 96px;
  }
	.interview__slider__item {
		width: 245px;
		margin-right: 36px;
	}
	.interview__slider__text {
		line-height: 2;
	}
	.interview__slider__title::after {
		bottom: -1px;
		width: 292px;
	}
}

.interview__conts .inner {
  max-width: 720px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .interview__conts .inner {
    max-width: 100%;
  }
  .interview__conts__img {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
  }  
}

.interview h2 {
  text-align: center;
  margin-bottom: 56px;
  font-weight: bold;
}

.interview h2 span{
  display: block;
  font-family: 'Montserrat',sans-serif;
  font-size: 4rem;
  letter-spacing: 0.4em;
  margin-bottom: 16.5px;
  line-height: 0.9;
}

@media (max-width: 768px) {
  .interview h2 {
    font-size: 1.6rem;
  }
  .interview h2 span{
    font-size: 2.4rem;
  }
}

.interview__conts__wrap h3 {
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  padding-left: 62.5px;
  margin-bottom: 47.5px;
  margin-top: 103.5px;
}

.interview__conts__wrap h3 span{
  font-family: 'Montserrat',sans-serif;
  font-size: 8rem;
  opacity: 0.08;
  letter-spacing: 0.08em;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: -55.5px;
  line-height: 1;
}

@media (max-width: 768px) {
  .interview__conts__wrap h3 {
    font-size: 1.6rem;
    margin-top: 112px;
    padding-left: 25px;
  }
  .interview__conts__wrap h3 span{
    font-size: 6.4rem;
    top: -44px;
    padding-left: 0;
  }
}

.interview__conts__item {
  display: flex;
  align-items: flex-start;
  width: 95%;
  margin-bottom: 47px;
}

.interview__conts__item img{
  width: 100px;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .interview__conts__item {
    margin-bottom: 40px;
  }
  .interview__conts__item img{
    width: 82px;
  }
}

.interview__conts__item:nth-of-type(even) {
  flex-direction: row-reverse;
  margin-left: auto;
}
.interview__conts__item.img-right {
	flex-direction: row-reverse;
  margin-left: auto;
}
.interview__conts__item.img-left {
	flex-direction: row;
  margin-left: 0;
}

.interview__conts__item:nth-of-type(odd) .interview__conts__text {
  border-radius: 0 24px 24px 24px;
  margin-left: 27px;
}

.interview__conts__item:nth-of-type(even) .interview__conts__text {
  border-radius: 24px 0 24px 24px;
  margin-right: 27px;
}

.interview__conts__item.img-left .interview__conts__text {
	border-radius: 0 24px 24px 24px;
  margin-left: 27px;
}

.interview__conts__item.img-right .interview__conts__text {
	border-radius: 24px 0 24px 24px;
  margin-right: 27px;
}

.interview__conts__item .interview__conts__text {
  box-shadow: 0 8px 16px 0 rgba(199,199,199,0.4);
  padding: 28px 24px;
  margin-top: 10px;
  width: calc(100% - 127px);
	font-weight: 700;
}

@media (max-width: 768px) {
  .interview__conts__item .interview__conts__text {
    padding: 24px 20px;
    width: calc(100% - 102px);
  }
  .interview__conts__item:nth-of-type(odd) .interview__conts__text {
    margin-left: 20px;
  }
  .interview__conts__item:nth-of-type(even) .interview__conts__text {
    margin-right: 20px;
  }
	.interview__conts__item.img-right .interview__conts__text {
    margin-right: 20px;
		margin-left: 0;
	}
}

.interview__another {
  background: url(../img/interview/bg_another.jpg)no-repeat center;
  background-size: cover;
  position: relative;
  padding: 96.5px 0 103px 0;
  margin-bottom: 80px;
  color: #fff;
  z-index: 0;
}

@media (max-width: 768px) {
  .interview__another {
    padding: 79.6px 0;
    margin-top: 100px;
  }
}

.interview__another::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.62);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.interview__another .inner{
  max-width: 720px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 5;
  position: relative;
}

.interview__another h2 {
  text-align: center;
  margin-bottom: 56px;
}

.interview__another h2 span{
  display: block;
  font-family: 'Montserrat',sans-serif;
  font-size: 4rem;
  letter-spacing: 0.38em;
  margin-bottom: 16.5px;
  line-height: 0.9;
}

@media (max-width: 768px) {
  .interview__another h2 {
    font-size: 1.6rem;
    margin-bottom: 34px;
  }
  .interview__another h2 span{
    font-size: 2.4rem;
    margin-bottom: 21px;
    line-height: 1.5;
  }
}

.interview__another__wrap {
  display: flex;
  justify-content: space-around;
}

.interview__another__item {
  width: 46%;
  position: relative;
	transition: .3s;
}
.interview__another__item:hover {
	transform: translateY(3px);
}

.interview__another__item img {
  border-radius: 29px;
}

.interview__another__text {
  position: absolute;
  left: 34.5px;
  bottom: 30.5px;
}

.interview__another__text .interview__name-en {
  margin-bottom: 20px;
}

.interview__another__text .interview__name {
  font-size: 1.8rem;
}
.interview__another__scroll {
	display: none;
}

@media (max-width: 768px) {
	.interview__another .inner {
		padding-right: 0;
		padding-left: 0;
    max-width: 100%;
	}
  .interview__another__text {
    position: absolute;
    left: 50%;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  .interview__another__text .interview__name-en {
    font-size: 1rem;
		margin-bottom: 13px;
    line-height: 1.8;
    letter-spacing: .12em;
  }
  .interview__another__text .interview__name {
    font-size: 1.4rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    font-weight: 700;
  }
  .interview__another__text .interview__position {
    margin-bottom: 0;
    font-size: 1rem;
    background: #fff;
    color: #222;
    margin-bottom: 8.1px;
    box-shadow: -4px 3px 6px rgba(0, 0, 0, .26);
    padding: 2.5px 8.3px;
    font-weight: 500;
  }
  .interview__another__wrap {
    flex-direction: column;
  }
  .interview__another__item img {
    border-radius: 10px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, .26);
    width: 327px;
  }
	.interview__another__item {
		width: 327px;
		display: inline-block;
		margin: 0 auto 21px;
	}
}

.interview__bnr {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 96px;
  padding: 77.2px 45.5px;
  background: url(../img/interview/bg_interview_bnr.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
	box-shadow: 8px 8px 24px rgba(0, 0, 0, .26);
  border-radius: 8px;
  color: #fff;
	display: block;
	transition: .3s;
}
.interview__bnr:hover {
	transform: translateY(3px);
}

.interview__bnr::after {
  content: "";
  background-color: rgba(34,34,34,0.44);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 8px;
}

.interview__bnr::before {
  content: ">";
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 32px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

@media (max-width: 768px) {
  .interview__bnr::before {
    width: 23px;
    height: 23px;
    font-size: 1rem;
    right: 14px;
  }
}

.interview__bnr .interview__bnr__lead{
  font-size: 2rem;
  line-height: 2;
  position: relative;
  z-index: 3;
}

.interview__bnr .interview__bnr__lead-en{
  font-family: 'Montserrat',sans-serif;
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 0.3em;
  position: relative;
  z-index: 3;
}

@media (max-width: 768px) {
  .interview__bnr {
    max-width: 94%;
    padding: 50px 22px;
  }
  .interview__bnr .interview__bnr__lead{
    font-size: 1.2rem;
  }
  .interview__bnr .interview__bnr__lead-en{
    font-size: 2rem;
  }
}

/* プロジェクトストーリー */

.story .inner {
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.header__fix {
  height: 120px;
  transition: .3s;
}
.header__fix {
  height: 120px;
  transition: .3s;
}

@media (max-width: 768px) {
  .header__fix {
    height: 110px;
  }
}

.header__fix.shadow {
  box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
  background: #fff;
}

.page-template-page-story .page__top {
  padding-top: 265px;
}
.page__top {
  margin-left: auto;
  position: relative;
  z-index: 5;
  padding-top: 160px;
  font-size: clamp(2rem, calc(2.8vw + 1px), 3.2rem);
  letter-spacing: 0.3em;
  margin-bottom: 30px;
}
.page__top img {
	height: 563px;
  width: min(calc(50% + 640px), calc(100% - 40px));
  margin-left: auto;
}

@media (max-width: 768px) {
  .story .inner {
    max-width: 100%;
  }
	.container.story__img {
		padding-right: 0;
		padding-left: 0;
	}
	.container.story__img .inner__min{
		max-width: none;
	}
  .page__top {
    max-width: 97%;
    padding-left: 0;
    padding-top: 150px;
  }
	.page__top img {
		height: 217px;
    width: calc(100% - 24px);
	}
}

.page__top h1{
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: bold;
	letter-spacing: .12em;
}

.page__top h1 span{
  font-family: 'Montserrat',sans-serif;
  font-size: clamp(2.8rem, calc(5vw + 1px) ,5.6rem);
  line-height: 1;
  margin-bottom: 15.5px;
  letter-spacing: 0.3em;
  display: block;
  font-weight: 400;
}

.page__top__lead {
	margin-bottom: 88px;
	line-height: 2;
	font-family: "YuMincho +36p Kana", YuMincho,'Yu Mincho',serif;
}

@media (max-width: 768px) {
  .page__top h1{
    font-size: 1.4rem;
    margin-bottom: 70px;
  }
  .page__top h1 span{
    margin-bottom: 32px;
    line-height: 1.42;
  }
  .page__top__lead {
    margin-bottom: 48px;
  }
}

.path {
	font-family: 'Montserrat',sans-serif;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	position: absolute;
	top: 180px;
	right: 5%;
	display: flex;
	flex-direction: row-reverse;
	letter-spacing: .2em;
	font-size: 12px;
	font-weight: 500;
}
.path__top {
	color: #c7c7c7;
	margin-top: 75px;
	position: relative;
}
.path__top::after {
	content: "";
	width: 1px;
	height: 29px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -24px;
	background: #c7c7c7;
	margin-bottom: 75px;
}
.path__current {
	color: #222;
}
@media (max-width: 768px) {
  .path {
		top: 100px;
	}
}
.story__outeline {
  background-color: #FAFAFA;
  padding: 216px 0 120px 0;
  transform: translateY(-96px);
  position: relative;
}

@media (max-width: 768px) {
  .story__outeline {
    padding: 169px 0 80px 0;
  }
}

.story__outeline h2{
  font-family: 'Montserrat',sans-serif;
  font-size: 4rem;
  letter-spacing: 0.4em;
  margin-bottom: 48px;
}

.story__outeline__wrap {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .story__outeline__wrap {
    display: block;
  }
  .story__outeline h2 {
    font-size: 2.4rem;
    margin-bottom: 24px;
    letter-spacing: 0.3em;
    line-height: 1.29;
  }
}

.story__outeline__wrap img{
	width: 40%;
	box-shadow: 8px 11px 24px rgba(0, 0, 0, .21);	
  border-radius: 12px;
	object-fit: cover;
}

.story__outeline__wrap p{
  width: 100%;
  max-width: 100%;
  margin: 18px 20px 0 64px;
  line-height: 2.57;
  font-size: 1.4rem;
	font-weight: 500;
}

@media (max-width: 768px) {
  .story__outeline__wrap img{
    margin-bottom: 48px;
		width: 100%;
  }
  .story__outeline__wrap p{
    margin: 0;
		line-height: 2;
  }
}

.story__outeline__bg {
  font-size: 20rem;
  color: #F4F4F4;
  letter-spacing: 0.2em;
  line-height: 0.8;
  font-family: 'Montserrat',sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
	white-space: nowrap;
}

@media (max-width: 768px) {
  .story__outeline__bg {
    font-size: 12rem;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}

.story__member {
  padding: 24px 0 155px 0;
}

@media (max-width: 768px) {
  .story__member {
    padding: 8px 0 83px 0;
  }
}

.story__member h2{
  font-family: 'Montserrat',sans-serif;
  font-size: 4rem;
  letter-spacing: 0.4em;
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .story__member h2{
    font-size: 2.4rem;
    margin-bottom: 24px;
    letter-spacing: 0.3em;
    line-height: 1.29;
  }
}

.story__member__wrap {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .story__member__wrap {
    display: block;
  }
}

.story__member__item {
  width: 23%;
  position: relative;
  text-align: center;
}

.story__member__item:nth-of-type(even) {
  margin-top: 60px;
}

@media (max-width: 768px) {
  .story__member__item {
    width: 100%;
    margin-bottom: 39px;
  }
  .story__member__item:nth-of-type(even) {
    margin-top: 0px;
  }
  .story__member__item:last-child {
    margin-bottom: 0;
  }
}

.story__member__item img {
  margin-bottom: 28px;
	box-shadow: 6px 6px 12px rgba(0, 0, 0, .16);
	border-radius: 8px;
}

.story__member__about {
  position: absolute;
  right: 1%;
  top: 1%;
  font-weight: bold;
}

.story__member__name {
  font-size: 1.4rem;
  margin-bottom: 9px;
}

.story__member__name-en {
  font-size: 1.2rem;
  font-family: 'Montserrat',sans-serif;
  letter-spacing: 0.3em;
  margin-bottom: 20px;
  font-weight: 300;
}

.story__member__year {
  font-size: 1.4rem;
  line-height: 2;
}

.story__member__position {
  font-weight: bold;
}

@media (max-width: 768px) {
  .story__member__about {
    font-size: 1.6rem;
		top: 17px;
		right: 28px;
  }
}

.story__episode {
  margin-bottom: 144px;
}

.story__episode h3 {
  font-family: 'Montserrat',sans-serif;
  font-size: 8.7rem;
  letter-spacing: 0.08em;
  line-height: 1;
  margin-bottom: -41px;
  position: relative;
  z-index: 5;
}

@media (max-width: 768px) {
  .story__episode {
    margin-bottom: 201px;
  }
  .story__episode h3 {
    font-size: 4.8rem;
    margin-bottom: -22px;
  }
}

.episode__lead__wrap {
  padding: 56px;
  background-color: #222222;
  color: #fff;
  transform: translateY(-74px);
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
	box-shadow: -14px -10px 32px rgba(0, 0, 0, .26);
	border-radius: 8px;
}

@media (max-width: 768px) {
  .inner.episode__lead__wrap {
    transform: translateY(-18px);
    width: 97%;
    margin: 0 0 0 auto;
    margin-bottom: 72px;
    padding: 40px 24px 40px 32px;
    display: block;
    border-radius: 8px 0 0 8px;
  }
  .story__episode__main {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
}

.episode__lead {
  line-height: 2.4;
  letter-spacing: 0.2em;
  font-size: 2rem;
  font-family: "YuMincho +36p Kana", YuMincho,'Yu Mincho',serif;
}

@media (max-width: 768px) {
  .episode__lead {
    font-size: 1.6rem;
    margin-bottom: 48px;
  }
}

.episode__lead__about__wrap {
  text-align: right;
}

.episode__lead__about__wrap .episode__lead__about-en,
.episode__lead__about__wrap .episode__lead__name-en {
  font-size: 2rem;
  font-family: 'Montserrat',sans-serif;
  letter-spacing: 0.24em;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .episode__lead__about__wrap .episode__lead__about-en,
  .episode__lead__about__wrap .episode__lead__name-en {
    font-size: 1.2rem;
  }
}

.episode__lead__about__wrap .episode__lead__name-en{
  font-weight: bold;
}

.episode__lead__about__wrap .episode__lead__about-en {
  font-weight: 200;
  margin-bottom: 36px;
}

@media (max-width: 768px) {
  .episode__lead__about__wrap .episode__lead__name{
    font-size: 1.6rem;
  }
  .episode__lead__about__wrap .episode__lead__about-en {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

.episode__lead__about__wrap .episode__lead__name {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.episode__lead__about__wrap .episode__lead__about {
  font-size: 1.2rem;
  color: #222222;
  background-color: #fff;
  padding: 7px 16px;
  border-radius: 80px;
  line-height: 1;
  margin-right: 20px;
}

.episode__conts .inner__min {
  max-width: 720px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .episode__conts .inner__min {
    max-width: 94%;
  }
}

.episode__conts h4 {
  text-align: center;
  line-height: 2.4;
  font-size: 2rem;
  margin-bottom: 35px;
	font-family: "YuMincho +36p Kana", YuMincho,'Yu Mincho',serif;
}

@media (max-width: 768px) {
  .episode__conts h4 {
    margin-bottom: 56px;
    letter-spacing: 0.2em;
    line-height: 2;
  }
}

.episode__conts .episode__text {
  font-size: 1.4rem;
  line-height: 2.28;
  margin-bottom: 35px;
	font-weight: 500;
}

.episode__conts img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 48px;
}

.story__bottom__wrap {
  background-color: #222222;
  color: #fff;
  padding: 70px 120px;
  transform: translateY(-90px);
  border-radius: 8px;
	box-shadow: -14px -10px 32px rgba(0, 0, 0, .26);
}

.story__bottom__lead {
  line-height: 2.4;
  font-size: 2rem;
  letter-spacing: 0.2em;
  margin-bottom: 56px;
	font-family: "YuMincho +36p Kana", YuMincho,'Yu Mincho',serif;
}

.story__bottom__text {
  line-height: 2.28;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .story__bottom__wrap {
    transform: none;
    padding: 88px 24px;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    border-radius: 0;
  }
  .story__bottom__lead {
    line-height: 2;
  }
  .story__bottom__text {
    line-height: 2;
  }
	.story__bottom img {
		height: 250px;
	}
}


/* 採用情報 */

.information .inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.information h2 {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 80px;
	font-size: 1.6rem;
}

.information h2 span{
  font-family: 'Montserrat',sans-serif;
  font-size: clamp(2.4rem, 2vw ,4rem);
  line-height: 1.4;
  letter-spacing: 0.4em;
  font-weight: 500;
  display: block;
	margin-bottom: 29px;
}

.information .page__top {
  margin-bottom: 162px;
}

.information .recruit {
  margin-bottom: 168px;
}

.information .recruit table{
  max-width: 1011px;
  width: 100%;
  margin: 0 auto;
  line-height: 2;
}

.information .recruit table th{
  width: 159px;
  padding: 32px 0 32px 15px;
  border-top: 1px solid #E6E6E6;
}

.information .recruit table td{
  padding: 32px 0 32px 110px;
  border-top: 1px solid #E6E6E6;
	font-weight: 500;
}

.information .recruit table tr:last-child th,
.information .recruit table tr:last-child td{
  border-bottom: 1px solid #E6E6E6;
}

.information .employment {
  margin-bottom: 120px;
}

.information .employment table{
  max-width: 1018px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #E6E6E6;
	word-break: break-all;
}

.information .employment table th{
  width: 230px;
  background-color: #F8F8F8;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #E6E6E6;
}

.information .employment table tr:first-child{
  border-bottom: 1px solid #E6E6E6;;
}

.information .employment table td{
  padding: 32px 26px;
	line-height: 2;
	font-weight: 500;
}

.information .flow {
  background-color: #FAFAFA;
  padding: 96px 3% 94px 3%;
}

.information .flow__wrap {
  display: flex;
  justify-content: space-between;
	align-items: center;
  margin-bottom: 48px;
}

.information .flow__item {
  width: 255px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 6px 6px 24px rgba(0,0,0,0.09);
  text-align: center;
  padding: 40px;
}

.information .flow__item img{
  width: 104px;
  height: 104px;
  margin: 0 auto;
}

.information .flow__item p{
  font-weight: bold;
  margin-top: 20px;
  line-height: 2;
	font-size: 16px;
}

.information .flow__wrap .icon-arrow {
  width: 34px;
	height: 30px;
	margin-right: 5px;
	margin-left: 5px;
}

.information .flow__caution {
  text-align: center;
  line-height: 2;
	font-weight: 500;
}

@media (max-width: 768px) {
	.information .page__top {
		margin-bottom: 80px;
	}
	.information h2 {
		margin-bottom: 60px;
	}
	.information .recruit table th {
		padding: 25px 40px 25px 5px;
	}
	.information .recruit table td {
		padding: 25px 5px 25px 0;
	}
	.information h2 {
		margin-bottom: 60px;
	}
	.information .employment table tr {
		display: flex;
		flex-direction: column;
	}
	.information .employment table th {
		text-align: left;
		padding: 20px 30px;
		width: auto;
		border-bottom: 1px solid #E6E6E6;
	}
	.information .employment table td {
		padding: 30px 10px;
	}
	.information .flow__wrap {
		flex-direction: column;
	}
	.information .flow__wrap .icon-arrow {
		transform: rotate(90deg);
		margin: 30px 0;
	}
}


/* エントリー */

.entry .conts {
  margin-top: 135px;
  background-color: #FAFAFA;
  text-align: center;
}

.entry .inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0 102px 0;
}

.entry .conts h2{
  font-family: "YuMincho +36p Kana", YuMincho,'Yu Mincho',serif;
  line-height: 2;
  font-size: clamp(2rem, 2vw, 2.4rem);
  letter-spacing: 0.3em;
  margin-bottom: 56px;
}
.entry .conts p {
	line-height: 2;
	font-weight: 500;
	font-size: 1.6rem;
}

.entry .conts__btn__wrap{
  margin: 72px 0 56px 0;
}

.entry .conts__btn__wrap img{
  width: 357px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.entry .conts__btn{
  max-width: 463px;
  width: 100%;
  margin: 0 auto;
  background-color: #1DA1D9;
  box-shadow: 0 8px 0 0 rgba(0,115,167,1);
  border-radius: 8px;
	transition: .3s;
	transform: none;
	position: relative;
}
.entry .conts__btn::after {
	content: url("../img/entry/arrow-right.svg");
	width: 31px;
	height: 31px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}
.entry .conts__btn:hover{
  box-shadow: 0 0 0 0;
	transform: translateY(6px);
}

.entry .conts__btn a{
  color: #fff;
  font-size: clamp(1.6rem, 2vw, 2.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 32px 0;
  line-height: 1;
  font-weight: bold;
}


.entry .conts__caution {
  line-height: 2;
}

.entry .conts__caution a{
  color: #1DA1D9;
  text-decoration: underline;
}

@media (max-width: 768px) {
	.entry .conts__btn__wrap img {
		width: 268px;
	}
	.entry .conts__btn a {
		padding: 22px 0;
	}
	.entry .conts__btn::after {
		margin-left: 50px;
	}
}

/* About Us */
.about .page__top h1 {
	margin-bottom: 167px;
}
.about h2 {
  text-align: center;
  margin-bottom: 56px;
	padding-top: 120px;
  font-weight: bold;
  line-height: 1.5;
}

.about h2 span{
  display: block;
  font-family: 'Montserrat',sans-serif;
  font-size: 4rem;
  letter-spacing: 0.4em;
  margin-bottom: 16.5px;
  line-height: 1.4;
	font-weight: 500;
}

@media (max-width: 768px) {
  .page-template-page-about .header__fix {
    position: static;
  }
  .page__top {
    padding-top: calc(160px - 85px);
  }
  .about h2 {
    font-size: 1.6rem;
    text-align: left;
  }
  .about h2 span{
    font-size: 2.4rem;
  }
}

.business {
	background: #fafafa;
}
.business__lead {
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 78px;
	font-weight: 500;
}
.business__wrap {
	display: flex;
}
.business__item:first-of-type {
	margin-right: 10px;
}
.business__item:nth-of-type(2) {
	transform: translateY(100px);
}

.business__item__text {
	margin-top: 50px;
	margin-bottom: 218px;
	margin-left: 65px;
}
.business__item__text h3 {
	font-size: 2.4rem;
	font-weight: 500;
	margin-bottom: 34px;
}
.business__item__text p {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 2.28;
}

.features__item {
	display: flex;
	margin-bottom: 80px;
}
.features__item:nth-of-type(2n) {
	display: flex;
	flex-direction: row-reverse;
}
.features__item img {
	max-width: 710px;
	width: 60%;
	box-shadow: 5px 12px 40px rgba(0, 0, 0, .46);
}
.features__item__text {
	font-weight: 500;
	margin-left: 84px;
	padding-top: 76px;
	position: relative;
}
.features__item:nth-of-type(2n) .features__item__text {
	margin-left: 0;
	margin-right: 84px;
}
.features__item__text h3 {
	font-size: 2.8rem;
	letter-spacing: 0.3em;
	line-height: 1.71;
	margin-bottom: 41px;
	font-family: "YuMincho +36p Kana", YuMincho,'Yu Mincho',serif;
}
.features__item__text h3 span {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16.2rem;
  font-family: 'Montserrat',sans-serif;
	letter-spacing: 0.04em;
	line-height: 1;
	color: #f4f4f4;
	z-index: -1;
}
.features__item:nth-of-type(2n) .features__item__text h3 span{
	right: auto;
	left: 0;
}
.features__item__text p {
	font-size: 1.4rem;
	line-height: 2.28;	
}

@media (max-width: 768px) {
  .features__item, .features__item:nth-of-type(2n) {
    flex-direction: column;
    margin-bottom: 51px;
  }
  .features__item img {
    width: 100%;
  }
  .features__item__text {
    margin-left: 0;
    padding-top: 37px;
  }
  .features__item__text h3 {
    text-align: center;
    font-size: 2rem;
    line-height: 2.4;
    margin-bottom: 25px;
  }
  .features__item__text h3 span {
    right: auto;
    left: 0;
    font-size: 8rem;
  }
  .features__item__text p {
    line-height: 2;
  }
}

.data__wrap {
	display: flex;
	justify-content: space-between;
	width: 83%;
	margin-bottom: 45px;
}
.data__wrap:last-of-type {
	margin-bottom: 165px;
}
.data__wrap img {
	width: 47%;
	box-shadow: 12px 12px 40px rgba(9, 35, 90, .28);
}
.data__wrap:nth-of-type(2n) {
	margin-left: auto;
}

@media (max-width: 768px) {
  .data__wrap {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }
  .data__wrap img {
    width: 100%;
    margin-bottom: 32px;
  }
  .data__wrap:last-of-type {
    margin-bottom: 120px;
  }
}

.history {
	background: #fafafa;
	padding-bottom: 100px;
}
.history__year__wrap {
	position: relative;
	text-align: center;
	margin-bottom: 221px;
}
.history__year__wrap::after {
	content: "";
	width: 2px;
	height: 174px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 87px;
	border-left: 2px dashed #000;
}
.history__year__wrap:last-of-type:after {
	content: url(../img/about/history_arrow.svg);
	width: 25px;
	height: auto;
	bottom: -165px;
	border-left: none;
}
.history__year__wrap h3 {
	text-align: center;
	color: #4054A0;
	font-family: "Gobold";
	font-size: 40px;
	position: relative;
	display: inline-block;
	letter-spacing: 0;
  font-weight: 400;
}
.history__year__wrap h3::before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -20px;
	background: #4054A0;
	box-shadow: 0px 0px 9px #0039A5;
}
.history__year__wrap h3::after {
	content: "";
	width: 117px;
	height: 2px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -137px;
	background: #4054A0;
}

.history__text__wrap {
	position: absolute;
	left: calc(50% + 130px);
	top: 0;
}

.history__text__wrap img {
	box-shadow: 12px 12px 20px rgba(6, 27, 56, .32);
	margin-bottom: 30px;
	border-radius: 8px;
}
.history__text__wrap p {
	font-size: 1.4rem;
	line-height: 1.71;
}

.history__year__wrap:nth-of-type(2n) h3::before {
	right: auto;
	left: -20px;
}
.history__year__wrap:nth-of-type(2n) h3::after {
	right: auto;
	left: -137px;
}
.history__year__wrap:nth-of-type(2n) .history__text__wrap {
	position: absolute;
	left: auto;
	right: calc(50% + 130px);
}

.history__year__wrap.history__1967 .history__text__wrap {
	top: -15vw;
}
.history__year__wrap.history__1970 .history__text__wrap {
	top: -15vw;
}
.history__year__wrap.history__1971 .history__text__wrap {
	top: -14vw;
}
.history__year__wrap.history__1974 .history__text__wrap {
	top: -13vw;
}
.history__year__wrap.history__1976 .history__text__wrap {
	top: -15vw;
}
.history__year__wrap.history__1989 .history__text__wrap {
	top: -10vw;
}
.history__year__wrap.history__2001 .history__text__wrap {
	top: -12vw;
}
.history__year__wrap.history__2004 .history__text__wrap {
	top: -10vw;
}
.history__year__wrap.history__2007 .history__text__wrap {
	top: -10vw;
}
.history__year__wrap.history__2014 .history__text__wrap {
	top: -13vw;
}
.history__year__wrap.history__2020 .history__text__wrap {
	top: -10vw;
}
.history__year__wrap.history__2021 .history__text__wrap {
	top: -16vw;
}
.history__year__wrap.history__2026 .history__text__wrap {
	top: -15vw;
}
.history__year__wrap.history__2027 .history__text__wrap {
	top: -9vw;
}

@media (min-width: 1280px) {
  .history__year__wrap.history__1967 .history__text__wrap {
    top: -220px;
  }
  .history__year__wrap.history__1970 .history__text__wrap {
    top: -220px;
  }
  .history__year__wrap.history__1971 .history__text__wrap {
    top: -200px;
  }
  .history__year__wrap.history__1974 .history__text__wrap {
    top: -190px;
  }
  .history__year__wrap.history__1976 .history__text__wrap {
    top: -210px;
  }
  .history__year__wrap.history__1989 .history__text__wrap {
    top: -145px;
  }
  .history__year__wrap.history__2001 .history__text__wrap {
    top: -175px;
  }
  .history__year__wrap.history__2004 .history__text__wrap {
    top: -110px;
  }
  .history__year__wrap.history__2007 .history__text__wrap {
    top: -150px;
  }
  .history__year__wrap.history__2014 .history__text__wrap {
    top: -175px;
  }
  .history__year__wrap.history__2020 .history__text__wrap {
    top: -124px;
  }
  .history__year__wrap.history__2021 .history__text__wrap {
    top: -245px;
  }
  .history__year__wrap.history__2026 .history__text__wrap {
    top: -220px;
  }
  .history__year__wrap.history__2027 .history__text__wrap {
    top: -145px;
  }
}


.history__1964 .history__text__wrap {
	width: 17.6%;
}
.history__1967 .history__text__wrap {
	width: 19.5%;
}
.history__1970 .history__text__wrap {
	width: 18.6%;
}
.history__1971 .history__text__wrap {
	width: 28.2%;
}
.history__1974 .history__text__wrap {
	width: 30.4%;
}
.history__1976 .history__text__wrap {
	width: 16.5%;
}
.history__1989 .history__text__wrap {
	width: 28.8%;
}
.history__2001 .history__text__wrap {
	width: 28.2%;
}
.history__2004 .history__text__wrap {
	width: 26.1%;
}
.history__2007 .history__text__wrap {
	width: 23.7%;
}
.history__2014 .history__text__wrap {
	width: 33.1%;
}
.history__2020 .history__text__wrap {
	width: 34%;
}
.history__2021 .history__text__wrap {
	width: 23.1%;
}
.history__2026 .history__text__wrap {
	width: 23.6%;
}
.history__2027 .history__text__wrap {
	width: 20.2%;
}

@media (max-width: 768px) {
  .history h2 {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 35px;
  }
  .history__year__wrap {
    text-align: left;
  }
  .history__year__wrap::after {
    left: 41px;
    transform: none;
  }
  .history__wrap .history__year__wrap .history__text__wrap {
    width: 186px;
    top: 0;
    right: 0;
    left: auto;
  }
  .history__text__wrap p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2;
  }
  .history__year__wrap:nth-of-type(2n) h3::before {
    right: -20px;
    left: auto;
  }
  .history__year__wrap:nth-of-type(2n) .history__text__wrap {
    right: 0;
  }
  .history__year__wrap h3::after, .history__year__wrap:nth-of-type(2n) h3::after {
    right: auto;
    left: 100px;
    width: 55vw;
  }
  .history__1967 {
    margin-bottom: 288px;
  }
  .history__1967.history__year__wrap::after {
    height: 254px;
  }
  .history__1970 {
    margin-bottom: 300px;
  }
  .history__1970.history__year__wrap::after {
    height: 264px;
  }
  .history__1976 {
    margin-bottom: 300px;
  }
  .history__1976.history__year__wrap::after {
    height: 264px;
  }
  .history__2021 {
    margin-bottom: 363px;
  }
  .history__2021.history__year__wrap::after {
    height: 324px;
  }
  .history__2026 {
    margin-bottom: 285px;
  }
  .history__2026.history__year__wrap::after {
    height: 244px;
  }
  .history__year__wrap:last-of-type:after {
    left: 30px;
  }
}

.office .container {
	padding: 0;
	max-width: none;
}
.office__lead {
	text-align: center;
	font-weight: 500;
	line-height: 2;
	margin-bottom: 78px;
}
.office__wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.office__item {
	width: 33.3%;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.office__item::after {
	content: '';
  width: 23.5px;
  height: 23.5px;
  position: absolute;
	bottom: 38px;
  right: 45px;
  background: url(../img/about/office-arrow-right.svg) no-repeat;
  background-size: contain;
}
.office__item h3 {
	position: absolute;
	left: 38px;
	bottom: 38px;
	font-size: clamp(1.3rem, 1.5vw, 2.4rem);
	font-weight: 700;
	color: #fff;
	text-shadow: 4px 4px 16px rgba(0, 0, 0, .76);
  line-height: 1;
}

.office__item > img {
	transform: none;
	transition: 1s;
}
.office__item > img:hover {
	transform: scale(1.1);
}


.modal__mask {
  background: rgba(34, 34, 34, .9);
  z-index: 10;
  height: 100vh;
	width: 100%;
  opacity: 0;
	visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s;
}
.office__item.active .modal__mask {
  opacity: 1;
  visibility: visible;
}
.office__modal {
	opacity: 0;
	visibility: hidden;
	position: fixed;
  top: 50%;
  left: 50%;
  height: 100vh;
	width: 100%;
  transform: translate(-50%, -50%);
	transition: .3s;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}
.office__item.active .office__modal {
	opacity: 1;
	visibility: visible;
	cursor: default;
}
.office__modal__wrap {
	width: 75%;
	margin: 0 auto;
	height: 368px;
	display: flex;
	justify-content: center;
  z-index: 15;
}
.office__modal .office__modal__wrap {
	max-width: 1071px;
}

.office__modal__wrap img {
	width: 100%;
	height: 100%;
}
.office__modal__text {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	color: #fff;
	background: #222;
	width: 50%;
}
.office__modal__text h4 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 21px;
}
.office__modal__text p {
	font-size: clamp(1.4rem, 1.5vw,1.6rem);
	line-height: 2;
	margin-bottom: 21px;
}
.office__modalClose {
	top: 80px;
	right: 89px;
  z-index: 15;
}

@media (max-width: 768px) {
  .office h2 {
    text-align: center;
  }
  .office__wrap {
    flex-direction: column;
  }
  .office__item {
    width: 100%;
  }
  .office__item h3 {
    bottom: 23px;
    left: 35px;
    font-size: 1.8rem
  }
  .office__item::after {
    bottom: 23px;
    right: 26px;
  }
  .office__modal__wrap {
    flex-direction: column;
    width: calc(100% - 48px);
  }
  .office__modal__text {
    padding-top: 29px;
    padding-right: 24px;
    padding-left: 24px;
    width: 100%;
  }
  .office__modal__text h4 {
    font-size: 1.6rem;
  }
  .office__modal__text p {
    font-size: 1.4rem;
  }
  .office__modalClose {
    top: 20px;
    right: 29px;
    width: 22px;
  }
}

/* Officeのスリックの設定 */
.slider {
	width: 50%;
}
.slick-track {
	display: flex;
}
.slick-next {
	right: 5%;
}
.slick-prev {
	left: 1%;
	z-index: 1;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	height: 100%;
}
.slick-next:before, .slick-prev:before{
  content: '';
	background: url(../img/about/office-arrow-right.svg) no-repeat;
  background-size: contain;
  display: inline-block;
  width: 37px;
  height: 37px;
}

.slick-prev:before{
	background-image: url(../img/about/office-arrow-left.svg);
}
@media (max-width: 768px) {
  .slider {
    width: 100%;
  }
  .slick-next:before, .slick-prev:before {
    width: 29px;
    height: 29px;
  }
  .slick-next {
    right: 4%;
  }
}

.company__text {
  text-align: right;
  font-size: 1.4rem;
}
.company table{
  max-width: 1027px;
  width: 100%;
  margin: 0 auto;
  line-height: 2;
	margin-bottom: 120px;
}

.company table th{
  width: 159px;
  padding: 32px 0 32px 15px;
  border-top: 1px solid #E6E6E6;
}

.company table td{
  padding: 32px 0 32px 110px;
  border-top: 1px solid #E6E6E6;
	font-weight: 500;
}
@media (max-width: 768px) {
  .company h2 {
    text-align: center;
    margin-bottom: 22px;
  }
  .company table tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E6E6E6;
  }
  .company table th {
    border: none;
    padding: 29px 0 22px;
  }
  .company table td {
    padding: 0 0 27px;
    border: none;
  }
}

/* フッター */

footer {
  background-color: #222222;
  padding: 64px 0 47px 0;
  color: #fff;
}

footer .inner {
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__top__logo {
  max-width: 268px;
  width: 100%;
}

.footer__top__logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__top ul{
  display: flex;
  justify-content: flex-end;
}

.footer__top ul li{
  margin-left: 54px;
}
.footer__top ul li:first-of-type {
	margin-left: 0;
}

.footer__lead {
  text-align: center;
  margin-top: 76px;
  font-size: 1.2rem;
}
.footer__nav li {
	transition: .3s;
	font-family: "Montserrat", sans-serif;
}
.footer__nav li:hover {
	opacity: .5;
}
@media (max-width: 1300px) {
	footer .inner {
		padding-right: 3%;
		padding-left: 3%;
	}
}

@media (max-width: 1100px) {	
	.footer__top {
		flex-direction: column;
	}
	.footer__top__logo {
		margin: 0 auto;
	}
	.footer__top__logo img {
		margin-bottom: 50px;
	}
	.footer__top ul {
		margin: 0 auto;
	}
}
@media (max-width: 768px) {
	.footer__top__logo {
		margin: 0;
	}
	.footer__top ul {
		flex-direction: column;
		margin: 0;
	}
	.footer__top ul li {
		margin-left: 0;
		margin-bottom: 28px;
		font-size: 14px;
		letter-spacing: .2em;
	}
	.footer__lead {
		font-size: 10px;
		letter-spacing: .12em;
	}
	footer .inner {
		padding-right: 24px;
		padding-left: 24px;
	}
}